/* ESTILOS GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    overflow: hidden;
    text-align: center;
    color: #fff;
    background: #000;
    background-size: 150px;
}

.cambiarFondo {
    animation-name: cambiarFondo;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes cambiarFondo {
    from {
        background-color: #000;
    }
    to {
        background-image: url("../img/estrellas.gif");
        ;
    }
}

/* ESTILOS DEL SCREEN LOADER */
.contenedor {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicador {
    width: 200px;
}

/* ESTILOS DEL COFRE */
.cofre {
    width: 100%;
    visibility: hidden;
    margin-top: 300px;
    position: absolute;
    top: 0;
    /* animation-name: animarCofre; */
    /* animation-duration: 5s; */
    /* animation-delay: 1s; */
    /* animation-iteration-count: infinite; */
}

.mostrarCofre {
    visibility: visible;
    animation: mostrar 1s ease-in-out;
}

.esconderGif {
    animation: esconder .5s ease-in-out;
}

.quitarGif {
    cursor: default;
    pointer-events: none;
}

/* FOTO DE LUTHER Y TEXTO */
.luther-info {
    text-align: center;
}

.luther-box {
    display: none;
    margin-bottom: 100px;
}

.mostrarLuther {
    animation: mostrar 3s ease-in-out;
    display: block;
}

.luther-box img {
    width: 220px;
}

.luther-texto {
    width: 100%;
    margin: auto;
    display: none;
    justify-content: center;
    align-items: center;
}

.mostrarLutherTexto {
    animation: mostrar 4s ease-in-out;
    display: flex;
}

.luther-texto li {
    opacity: 0;
}

.animarTextoEntrada {
    margin-top: 30%;
    position: absolute;
    text-align: center;
    list-style: none;
    animation: cambiarTexto 3.5s 1;
    font-size: 50px;
    opacity: 1;
}

.animarTextoSalida {
    animation: ocultarTexto .1s 1;
}

.alien-word {
    color: blueviolet;
}


/* IR AL HUB */
.hub-box {
    text-align: center;
    display: none;
}

.link-hub {
    text-decoration: none;
    color: #000;
    font-size: 35px;
    text-align: center;
}

.link-hub:hover {
    opacity: .7;
}

.mostrarHub {
    animation-name: mostrarHub;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    visibility: hidden;
    display: block;
}

/* MEDIAQUERIES */
@media (min-width:768px) {
    main .luther-box img {
        width: 240px
    }
    .luther-texto li {
        margin-top: 30%;
        position: absolute;
        font-size: 50px;
    }
}

@media  (min-width:1000px) {
    main .luther-box img {
        width: 220px;
    }
}

/* KEYFRAMES */
/* @keyframes animarCofre {
    0% {
        margin: 0;
    }
    50% {
        margin-top: 500px;
    }
    100% {
        margin: 0;
    }
} */

@keyframes esconder {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes mostrar {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mostrarHub {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
    }
    @keyframes cambiarTexto {
        0% {
            opacity: 0;
            transform: translateY(-50px);
        }
    
        10% {
            opacity: 1;
            transform: translateZ(0);
        }
    
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    @keyframes ocultarTexto {
        0% {
            opacity: 1;
            transform: translateY(0);
        }
    
        100% {
            opacity: 0;
            transform: translateY(50px);
        }
    }